@import "normalize.css";
@import "variables.scss";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 10px;
}

.button-collection {
    flex-direction: column;
    justify-content: center;

    &:active{
        font-size:1.15rem;
    }
}

.button-fetch {
    width: $buttonwidth;
    height: $buttonheight;
    margin: $margin;
}

#weather-container {
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}
