@import "normalize.css";
@import "variables.scss";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 10px;
    background-color: azure;
}

.button-collection {
    flex-direction: column;
    justify-content: center;
}

.button-fetch {
    width: $buttonwidth;
    height: $buttonheight;
    margin: $margin;
}

#weather-container {
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

@each $weather-container, $color in $button-style {
    .#{$weather-container} {
        $regular: ($color, 1);
        $hover: ($color, 2);
        $active: ($color, 2);

        background-color: $regular;
        color: $active;

        &:hover,
        &:focus {
            background-color: $hover;
        }

        &:active {
            background-color: $active;
        }
    }
}
