$margin: 0 1.25rem 1.25rem;
$buttonheight: 1.25rem;
$buttonwidth: 11.25rem;
$hoverbuttonhieght: 2rem;

$button-style: ( 
    london:(#b3ffb3, #00cc00), 
    seattle:(#99d6ff, #007acc), 
    geolocation:(#ff3333, #ff9999));
